<a href="https://colab.research.google.com/github/Jafima7/EDEM2022/blob/main/Exercises_01_DFBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrames Basics Exercises

## Prerrequisites

Install Spark and Java in VM

In [1]:
# install Java8
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
# download spark3.0.1
!wget -q https://apache.osuosl.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop2.tgz

In [2]:
ls -l # check the .tgz is there

total 267684
drwxr-xr-x 1 root root      4096 Dec  8 14:36 sample_data/
-rw-r--r-- 1 root root 274099817 Oct 15 10:53 spark-3.3.1-bin-hadoop2.tgz

In [3]:
# unzip it
!tar xf spark-3.3.1-bin-hadoop2.tgz

In [4]:
!pip install -q findspark

Defining the environment

In [5]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop2"
os.environ["PYSPARK_SUBMIT_ARGS"] = "--master local[*] pyspark-shell"

Start Spark Session

---

In [6]:
import findspark
findspark.init("spark-3.3.1-bin-hadoop2")# SPARK_HOME

from pyspark.sql import SparkSession

# create the session
spark = SparkSession \
        .builder \
        .appName("DataFramesBasics Exercises") \
        .master("local[*]") \
        .getOrCreate()

spark.version

'3.3.1'

In [7]:
spark

In [8]:
# For Pandas conversion optimization
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

In [9]:
# Import sql functions
from pyspark.sql.functions import *

Download datasets

In [10]:
!mkdir -p dataset
!wget -q https://raw.githubusercontent.com/paponsro/spark_edem_2022/master/datasets/movies.json -P /dataset
!wget -q https://raw.githubusercontent.com/paponsro/spark_edem_2022/master/datasets/cars.json -P /dataset

In [11]:
ls -l /dataset

total 1324
-rw-r--r-- 1 root root   74910 Dec 10 08:51 cars.json
-rw-r--r-- 1 root root 1274347 Dec 10 08:51 movies.json

## DataFrames Basics Exercises

1) Create a manual DF describing smartphones
  - maker
  - model
  - screen dimension
  - camera megapixels
  
2) Read another file from the dataset/ folder, e.g. movies.json
  - print its schema
  - count the number of rows, call count()

Exercise 1)

In [21]:
smartphones = spark.sparkContext.parallelize([
    ("Apple", "iPhone 12", 6, 10),
    ("Samsung", "A51", 8, 8),
    ("Samsung", "Galaxy Z Flip 4", 6, 10)])

In [22]:
smartphonesDF = smartphones.toDF(["maker", "model", "screen dimension", "camera megapixels"])

In [23]:
smartphonesDF.show()

+-------+---------------+----------------+-----------------+
|  maker|          model|screen dimension|camera megapixels|
+-------+---------------+----------------+-----------------+
|  Apple|      iPhone 12|               6|               10|
|Samsung|            A51|               8|                8|
|Samsung|Galaxy Z Flip 4|               6|               10|
+-------+---------------+----------------+-----------------+

Exercise 2)

In [25]:
moviesDF = spark.read \
    .format("json") \
    .option("inferSchema", "true") \
    .load("/dataset/movies.json")

In [26]:
moviesDF.printSchema()
print(f"The Movies DF has {moviesDF.count()} rows")

root
 |-- Creative_Type: string (nullable = true)
 |-- Director: string (nullable = true)
 |-- Distributor: string (nullable = true)
 |-- IMDB_Rating: double (nullable = true)
 |-- IMDB_Votes: long (nullable = true)
 |-- MPAA_Rating: string (nullable = true)
 |-- Major_Genre: string (nullable = true)
 |-- Production_Budget: long (nullable = true)
 |-- Release_Date: string (nullable = true)
 |-- Rotten_Tomatoes_Rating: long (nullable = true)
 |-- Running_Time_min: long (nullable = true)
 |-- Source: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- US_DVD_Sales: long (nullable = true)
 |-- US_Gross: long (nullable = true)
 |-- Worldwide_Gross: long (nullable = true)

The Movies DF has 3201 rows

## Columns and Expressions Exercises

1. Read the movies DF and select 2 columns of your choice
2. Create another column summing up the total profit of the movies = US_Gross + Worldwide_Gross + DVD sales. Are you pbtaining nulls? How you can solve it?
3. Select all COMEDY movies with IMDB rating above 6

Use as many versions as possible

Exercise 1)

In [29]:
moviesDF.select("Title", "Rotten_Tomatoes_Rating").show()

+--------------------+----------------------+
|               Title|Rotten_Tomatoes_Rating|
+--------------------+----------------------+
|      The Land Girls|                  null|
|First Love, Last ...|                  null|
|I Married a Stran...|                  null|
|Let's Talk About Sex|                    13|
|                Slam|                    62|
| Mississippi Mermaid|                  null|
|           Following|                  null|
|             Foolish|                  null|
|             Pirates|                    25|
|     Duel in the Sun|                    86|
|           Tom Jones|                    81|
|             Oliver!|                    84|
|To Kill A Mocking...|                    97|
|    Tora, Tora, Tora|                  null|
|   Hollywood Shuffle|                    87|
|Over the Hill to ...|                  null|
|              Wilson|                  null|
|        Darling Lili|                  null|
|The Ten Commandments|                    90|
|        12 Angry Men|                  null|
+--------------------+----------------------+
only showing top 20 rows

Exercise 2)

In [32]:
moviesDF.select("Title", col("US_Gross") + col("Worldwide_Gross")).show()

+--------------------+----------------------------+
|               Title|(US_Gross + Worldwide_Gross)|
+--------------------+----------------------------+
|      The Land Girls|                      292166|
|First Love, Last ...|                       21752|
|I Married a Stran...|                      406268|
|Let's Talk About Sex|                      747230|
|                Slam|                     2097340|
| Mississippi Mermaid|                     2649102|
|           Following|                       89410|
|             Foolish|                    12053816|
|             Pirates|                     7983650|
|     Duel in the Sun|                    40800000|
|           Tom Jones|                    75200000|
|             Oliver!|                    74805754|
|To Kill A Mocking...|                    26259692|
|    Tora, Tora, Tora|                    59096582|
|   Hollywood Shuffle|                    10457234|
|Over the Hill to ...|                     6000000|
|              Wilson|                     4000000|
|        Darling Lili|                    10000000|
|The Ten Commandments|                   160000000|
|        12 Angry Men|                           0|
+--------------------+----------------------------+
only showing top 20 rows

Exercise 3)

In [40]:
moviesDF.filter((moviesDF.Major_Genre == "Comedy") & (moviesDF.IMDB_Rating > 6)).show()

+--------------------+-----------------+--------------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+--------------------+--------------------+------------+---------+---------------+
|       Creative_Type|         Director|         Distributor|IMDB_Rating|IMDB_Votes|MPAA_Rating|Major_Genre|Production_Budget|Release_Date|Rotten_Tomatoes_Rating|Running_Time_min|              Source|               Title|US_DVD_Sales| US_Gross|Worldwide_Gross|
+--------------------+-----------------+--------------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+--------------------+--------------------+------------+---------+---------------+
|                null|             null|           Lionsgate|        6.8|       865|       null|     Comedy|           250000|   28-Aug-98|                  null|            null|                null|I Married a Stran...|        null|   203134|         203134|
|                null|    Shane Meadows|       October Films|        6.9|      1417|          R|     Comedy|          2000000|   15-Apr-98|                  null|            null| Original Screenplay|24 7: Twenty Four...|        null|    72544|          72544|
|Contemporary Fiction| Robert Rodriguez|             Miramax|        6.4|     34328|          R|     Comedy|          4000000|   25-Dec-95|                    14|            null| Original Screenplay|          Four Rooms|        null|  4301000|        4301000|
|Contemporary Fiction|        Alan Alda|           Universal|        7.0|      1814|       null|     Comedy|          6500000|   22-May-81|                    71|            null| Original Screenplay|    The Four Seasons|        null| 42488161|       42488161|
|Contemporary Fiction|      Tom Shadyac|        Warner Bros.|        6.6|     63543|      PG-13|     Comedy|         12000000|    4-Feb-94|                    49|            null| Original Screenplay|Ace Ventura: Pet ...|        null| 72217396|      107217396|
|                null|     George Lucas|           Universal|        7.6|     30952|       null|     Comedy|           777000|   11-Aug-73|                    97|            null| Original Screenplay|   American Graffiti|        null|115000000|      140000000|
|                null|      Woody Allen|                 MGM|        8.2|     65406|       null|     Comedy|          4000000|   20-Apr-77|                    98|            null| Original Screenplay|          Annie Hall|        null| 38251425|       38251425|
|Contemporary Fiction|             null|            Alliance|        6.9|       151|  Not Rated|     Comedy|          8000000|    4-Aug-06|                    67|            null| Original Screenplay|    Bon Cop, Bad Cop|        null| 12671300|       12671300|
|             Fantasy|   Penny Marshall|    20th Century Fox|        7.2|     49256|       null|     Comedy|         18000000|    3-Jun-88|                    96|            null| Original Screenplay|                 Big|        null|114968774|      151668774|
|                null|      Woody Allen|                 MGM|        7.1|     12415|      PG-13|     Comedy|          2000000|   28-Apr-71|                    89|            null| Original Screenplay|             Bananas|        null|     null|           null|
|                null|       Mel Brooks|        Warner Bros.|        7.8|     45771|       null|     Comedy|          2600000|    1-Jan-74|                    89|            null| Original Screenplay|     Blazing Saddles|        null|119500000|      119500000|
|     Science Fiction|    Stephen Herek|      Orion Pictures|        6.7|     30341|       null|     Comedy|         10000000|   17-Feb-89|                    81|            null| Original Screenplay|Bill & Ted's Exce...|        null| 39916091|       39916091|
|             Fantasy|       Tim Burton|        Warner Bros.|        7.3|     61197|       null|     Comedy|         15000000|   30-Mar-88|                  null|            null| Original Screenplay|        Beetle Juice|        null| 73326666|       73326666|
|Contemporary Fiction|             null|Link Productions ...|        7.0|      7129|  Not Rated|     Comedy|         16000000|   25-Jul-08|                  null|             109| Original Screenplay|Bienvenue chez le...|        null|  1470856|      243470856|
|Contemporary Fiction|     Harold Ramis|        Warner Bros.|        7.3|     35436|       null|     Comedy|          6000000|   25-Jul-80|                    75|            null| Original Screenplay|          Caddyshack|        null| 39846344|       39846344|
|Contemporary Fiction|      John Huston|       Sony Pictures|        8.0|    172936|       null|     Comedy|         12000000|   28-Apr-67|                    30|            null|Based on Book/Sho...|       Casino Royale|        null| 22744718|       41744718|
|  Historical Fiction|             null|                 MGM|        8.0|     51757|         PG|     Comedy|          3250000|   18-Nov-83|                    88|            null|Based on Book/Sho...|   A Christmas Story|        null| 19294144|       19294144|
|  Historical Fiction|        Spike Lee|           Universal|        6.5|      3137|      PG-13|     Comedy|         14000000|   13-May-94|                    75|            null| Original Screenplay|            Crooklyn|        null| 13024170|       13024170|
|Contemporary Fiction|Thomas Vinterberg|       October Films|        8.1|     26607|          R|     Comedy|          1300000|    9-Oct-98|                  null|            null| Original Screenplay|              Festen|        null|  1647780|        1647780|
|Contemporary Fiction|   Amy Heckerling|  Paramount Pictures|        6.7|     39055|      PG-13|     Comedy|         13700000|    1-Jul-95|                    83|            null|Based on Book/Sho...|            Clueless|        null| 56598476|       56598476|
+--------------------+-----------------+--------------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+--------------------+--------------------+------------+---------+---------------+
only showing top 20 rows